*{
    box-sizing: border-box;
}

body{
    background-image: url(Imagenes/undefined\ -\ Imgur.jpg);
    background-position: center;
}

/* Encabezado*/
.encabezado {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-content: space-around;
}

nav a {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: whitesmoke;
    margin: 25px;
}

nav a:hover{
    transform: scale(1.3);
}

nav a.activa {
    color: #DAA520;
}

/* Contenido ppal Inicio*/
.contenedor_ppal{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px;
}

.texto_ppal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(13, 13, 13);
    background-color: rgba(245, 244, 244, 0.5);
}

p{
    margin: 5px;
    text-align: center;
}

h3 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Contenedor de libros*/

.contenedor_libros{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
}

.libro {
    margin: 20px; 
    text-align: center;
}

.sipnopsis {
    margin-top: 10px; 
    max-width: 300px;
}

.contenedor_sinopsis{
    margin: 50px;
    background-color: rgba(245, 244, 244, 0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    
}


/* Pagina de contacto*/
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.tituloForm{
    color: aliceblue;
}


.formu1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
}

.par{
    display: flex;
    flex-direction: column;
    margin: 15px, 20px
}

.par > input{
    border-radius: 7px;
    width: 200px;
    height: 30px;
}

label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    margin-bottom: 10px;

}

textarea{
    width: 700px; height: 200px;
    border-radius: 10px;
    padding: 20px;
}

.boton{
    font-size: 15px;
    width: 700px;
    height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
    align-self: center;
    border: none;
    cursor: pointer;
}

.boton:hover{
    background-color: #DAA520;
    color: aliceblue;
}

.error {
    color: red;
    font-size: 12px;
    display: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#enviado{
    display: none;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    width: 700px;
    align-content: flex-start;
    
}

/*Estilos carrousel*/
.carousel { 
    position: relative; 
    width: 2500px;
    overflow: hidden; 
}

#imagen{
    width:800px;
    height:450px;
}

button { 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
    padding: 8px 16px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: #DAA520;
    color: white;
    cursor: pointer;
}
#ant { 
    left: 10px; 
}
#sig { 
    right: 10px; 
}




